.beer-card--mainPageGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  height: 15.5rem; 
  padding: 1rem;
  box-shadow: 0 -0.325rem 0.3rem rgba(whitesmoke, 0.25);
  border: 0.3rem solid rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  background-color:rgb(227, 223, 223);
  margin: 0.8rem;



      .beer-card__content {
       width: 100%; 
       
    
        .beer-card__image {
        width: 100%; 
        height: auto; 
        object-fit: contain; 
        max-height: 7rem;  
        }
    
        .beer-card__name {
          margin-top: 0.1rem; 
          margin-bottom: 0;
          font-size: 1.4rem;
          font-weight: 500;
          text-align: center;
          color: #333;
          }

        .beer-card__abrv-info {
          margin-top: 0.2rem;
          margin-bottom: 0;
          font-size: 1rem;
          font-weight: 500;
          text-align:center;
          color: #333;
        }
      }
}
  

    
  