// .beer-card {
//     position: relative;
//     border-radius: 1rem;
//     overflow: hidden;
//     box-shadow: 0 0.625rem 1.25rem rgba(black, 0.25);
// }  
//     .beer-card__image {
//       width: 100%;
//       height:auto;
//     }

// .beer-card {
//     padding: 0.625rem 0 1.25rem 3.125rem;
//       display: flex;
//       flex-wrap: wrap;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       overflow-x: auto;
//       width: 20rem;
//       height: 40rem;
// }  

.beer-card--mainPageGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  height: 19rem; // Set the width of the container as needed
  padding: 1rem;
  box-shadow: 0 -0.325rem 0.3rem rgba(whitesmoke, 0.25);
  border: 0.3rem solid rgba(0, 0, 0, 0.5);
  border-radius: 2%;
  background-color:rgb(46, 46, 46);
  margin: 0.8rem;

      .beer-card__content {
       width: 100%; // Make all sections take up full width
      // Add padding as needed
    
        .beer-card__image {
        width: 100%; // Make the image fill its container
        height: auto; // Maintain aspect ratio
        object-fit: contain; // Ensure the image covers the container
        max-height: 8rem; // Set a maximum height for consistency  
        padding-top: 1rem;
        
        
        }
    
        .beer-card__name {
          margin-top: 0.1rem; // Add margin between sections
          margin-bottom: 0;
          font-size: 1.6rem;
          font-weight: 500;
          }

        .beer-card__abrv-info {
          margin-top: 0.2rem;
          margin-bottom: 0;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
}
  
      // .beer-card__image {
      //   width: auto;
      //   height:40rem;
      //   border-radius: 1rem;
      //   box-shadow: 0 0.625rem 1.25rem rgb(45 52 54 / 25%);
      //   margin: 0.625rem 1.25rem 0.625rem 0;
      // }
    
  
    // .beer-card {
    //   position: absolute;
    //   z-index: 1;
    //   color: whitesmoke;
    //   bottom: 1.25rem;
    //   left: 1.25rem;
    
  
    //   & > * {
    //     margin: 0.625rem 0;
    //   }
  
    //   .beer-card __heading {
    //     font-size: 1.5rem;
    //     margin: 1.25rem 0;
    //   }
   // }



  
  
    //   .artist-tile__cross {
    //     position: absolute;
    //     right: 1.25rem;
    //     top: 0.75rem;
    //   }
  
    //   &.artist-tile__content--back {
    //     bottom: 0;
    //     left: 0;
    //     height: 100%;
    //     padding: 0 1.25rem;
    //     overflow-y: auto;
    //     background: rgba($color-black, 0.8);
    //   }
    // }
  
    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   background: rgba($color-black, 0.5);
    // }
  
  