// .album-info {
//     .beer-info__banner {
//       overflow: hidden;
//       background-color: $color-black;
//       height: 10vh;
//       position: relative;
//     }
  
//     .beer-info__image {
//       border-radius: 1rem;
//       width: calc(100% - 6.25rem);
//       display: block;
//       position: absolute;
//       right: 50%;
//       transform: translateX(-50%);

//     }
  
//     .album-info__content {
//       padding: 0.625rem 3.125rem;
//     }
  
//     .album-info__facts {
//       list-style-type: none;
//       padding: 0;
//     }
  
//     .album-info__heading {
//       font-size: 1.875rem;
//       width: fit-content;
  
//       &:after {
//         content: "";
//         display: block;
//         height: 0.313rem;
//         width: 100%;
//         background-color: $color-primary;
//         border-radius: 1rem;
//       }
//     }
//   }
  
 // @media screen and (min-width: $desktop-breakpoint) {
    .beer-info {
      display: grid;
      grid-template-columns: 1fr 3fr ;
      border-radius: 1rem;
      overflow: hidden;
      margin: 1.5rem 2rem;
      box-shadow: 0 0.625rem 1.25rem rgba(black, 0.25);
      min-height: 60vh;
      padding-left: 1.2rem;
  
      .beers-info__banner {
        height: 100%;
        background-color: unset;
      }
  
      .beer-info__image {
        height: 47%;
        opacity: 0.8;
        padding-left: 1rem;
        padding-top: 2rem;
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
      }
      .beer-info__name {
        margin: 0 auto;
        font-size: 2rem;
      }
      .beer-info__tagline {
        font-size: 1.4rem;
      }

      .close-link {
        color: white; 
        font-size: 2rem; 
        cursor:pointer;
        transition:transform 0.2s;
      }

      .close-link:hover {
        transform:scale(1.1);
      }
      
      .close-link .fa-times {
        margin-left: 1rem; /* Adjusts the position to the right */
      }

      .beer-info__content {
        padding: 1rem;
        font-size: 1.3rem;
      }

      .beer-info__header {
        display: flex;
      }

      .beer-info__name {
        text-align: left;
        margin-left:0;
      }

      .beer-info__description {
        margin-top: 0.3rem ;
        text-align: justify; 
      }

      .beer-info__first-brewed {
        margin: 0;
      }
    
      .beer-info__ingredients {
        display: flex; 
        justify-content: space-between; 
        margin-bottom: 1rem; 
      }

      .beer-info__ingredients div {
        width: 48%; 
      }

      .beer-info__ingredients h3 {
        font-size: 1.5rem; 
        margin-bottom: 0.5rem; 
        margin-top: 1.2rem;
      }
    
      .beer-info__ingredients ul {
        padding-left: 0; 
        margin-left: 1rem;
      }

      .beer-info__food-pairing-header{
        font-size: 1.5rem; 
        margin-bottom: 0.5rem; 
        margin-top: 0.5rem;
      }
    
    //   .beer-info__ingredients ul li {
    //     list-style: none; // Remove default list styles
    //   }
    }

      
    
 // }
  