.beer-gallery {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 0;

    .beer-gallery__heading{
      font-size: 1.7rem;
      text-align: right;
      padding-right: 2rem;
      margin: 0;
    }

    .beer-gallery__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

  }


  // .album-tiles {
  //   padding: 0.625rem 0 1.25rem 3.125rem;
  
  //   &.album-tiles--standard {
  //     background-color: $color-primary;
  //   }
  
  //   &.album-tiles--alt {
  //     background-color: $color-white;
  //   }
  
  //   .album-tiles__content {
  //     display: flex;
  //     overflow-x: auto;
  //     gap: 1.25rem;
  
  //     .album-tiles__image {
  //       width: 12.5rem;
  //       border-radius: 1rem;
  //       box-shadow: 0 0.625rem 1.25rem rgb(45 52 54 / 25%);
  //       margin: 0.625rem 1.25rem 0.625rem 0;
  //     }
  //   }
  // }
  
  // @media screen and (min-width: $desktop-breakpoint) {
  //   .album-tiles {
  //     padding-right: 3.125rem;
  //     padding-bottom: 3.125rem;
  //     border-radius: 1rem;
  
  //     .album-tiles__content {
  //       display: grid;
  //       grid-template-columns: repeat(3, 1fr);
  
  //       .album-tiles__image {
  //         width: 100%;
  //         margin: 0;
  //       }
  //     }
  //   }
  // }
  