.find-a-beer {
    max-width: 25rem;
    height: 90%;
    font-size: 1.25rem;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-right: 1.75rem;
    padding-left: 1.75rem;
    background-color:rgb(36, 36, 36);
    border-radius: 5px;
}